table {
  border-collapse: collapse;
  width: 1018px;
  margin-left:auto;
  margin-right:auto;
  color: #FFFFFF
}

tr {
  background-color: #000000;
  border-bottom: 1px solid #DDDDEE;

}

td {
  padding: 4px;
  text-align: left;
  vertical-align: top;
}

td.counter {
  text-align: right;
  width: 40px;
  padding-right: 10px;
}

td.datetime {
  text-align: right;
  width: 110px;
}

td.torrentid {
  text-align: right;
}

td.ipaddress {
  text-indent: 20px;
  width: 100px;
}

td.post {
  width: 60px;
}

tr.success {
  font-size: 55%;
  background-color: #009600;
}

tr.failure {
  font-size: 55%;
  background-color: #AF0000;
}

tr.error {
  font-size: 70%;
  background-color: #AF0000;
}

tr.other {
  font-size: 70%;
  background-color: #DC6E00;
}

tr.information {
  font-size: 55%;
  background-color: #454545;
}

tr.invocation {
  font-size: 70%;
  background-color: #000096;
  border-bottom: 4px solid #DDDDEE;
}

tr.restart {
  font-size: 70%;
  background-color: #DDDDEE;
  border-bottom: 10px solid #DDDDEE;
  border-top: 10px solid #DDDDEE;
  color: #00000;
}

tr:hover {color:#000000;}
