table {
  border-collapse: collapse;
  width: 1018px;
  margin-left:auto;
  margin-right:auto;
  color: #FFFFFF
}

tr {
  background-color: #000000;
}

td {
  padding: 4px;
  text-align: left;
  vertical-align: top;
}

td.counter {
  text-align: right;
  width: 40px;
  padding-right: 10px;
}

td.datetime {
  text-align: right;
  width: 150px;
}

td.ipaddress {
  text-indent: 20px;
  width: 140px;
}

td.post {
  width: 60px;
}

tr.success {
  background-color: #009600;
}

tr.failure {
  background-color: #AF0000;
}

tr.other {
  background-color: #DC6E00;
}

tr.information {
  background-color: #000096;
}

tr.minor {
  font-size: 50%;
  border-bottom: 1px solid #DDDDEE;
}

tr.major {
  font-size: 80%;
  border-bottom: 3px solid #DDDDEE;
}


tr:hover {color:#000000;}
