[Unit]
Descripton=uWSGI Service for Download-Manager-Interface
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/pi/Download-Manager/
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/Download-Manager/uwsgi.ini

[Install]
WantedBy=multi-user.target

