{% macro graphblocksandbarssection(graphindex, graphname, blockcolour) %}

    <g id="{{ graphindex }}_{{ graphname }}" stroke-linecap="square" stroke="#000000" stroke-width="0" fill="{{ blockcolour }}">
    </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro graphlinessection(graphindex, graphname, linecolour) %}

    <g id="{{ graphindex }}_{{ graphname }}" stroke-linecap="round" stroke="{{ linecolour }}" stroke-width="1">
    </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro graphtextsection(graphindex, graphname, textstyle, textalign) %}

        <text id="{{ graphindex }}_{{ graphname }}" text-anchor="{{ textalign }}" class="{{ textstyle }}" x="{{ logentry.x }}" y="{{ logentry.y }}"> </text>

{% endmacro %}


