{% extends "base.html" %}

{% block bodycontext %} class="fixed"{% endblock %}

<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/logs.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="AuditBanner"><!--


Banner Content

     --><div class="bannerbigheading">
            <span>Download Copier</span>
        </div><!--


 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}
 --><div class="MonitorChart"><table class="copier">
{% for copyentry in copyactions %}
        <tr id="CopyItem_{{ copyentry.copyid }}" class="copystate_{{ copyentry.status }}">
            <td><img src="{{ url_for('static', filename='images/copystate_'+copyentry.status+'.gif') }}" /></td>
            <td>{{ copyentry.target }}<br><small>{{ copyentry.torrentid }}</small></td>
            <td>{{ copyentry.copyid }}</td>
        </tr>
{% endfor %}
</table></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
        <img src="{{ url_for('static', filename='images/copy_queued.png') }}" />
        <img src="{{ url_for('static', filename='images/copy_inprogress.png') }}" />
        <img src="{{ url_for('static', filename='images/copy_confirm.png') }}" />
        <img src="{{ url_for('static', filename='images/copy_succeeded.png') }}" />
        <img src="{{ url_for('static', filename='images/copy_failed.png') }}" />
    </div><!--

{% endblock %}
