{% extends "base.html" %}

{% block bodycontext %}{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/logs.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block styling %}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="IndexBanner" class="vpn_up"><!--

Banner Content

     --><div class="bannerbigheading">
            <span>Download-Manager</span>
        </div><!--

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
    </div><!--

{% endblock %}
