{% extends "base.html" %}
{% from 'macros/meter.html' import meteroutlinetemplate %}
{% from 'macros/meter.html' import metermarkerstemplate %}
{% from 'macros/meter.html' import meterblockstemplate %}
{% from 'macros/meter.html' import meterlinetemplate %}
{% from 'macros/meter.html' import meterendtemplate %}
{% from 'macros/button.html' import buttontemplate %}
{% from 'macros/button.html' import disabledbuttontemplate %}
{% from 'macros/button.html' import buttonwithoverlaytemplate %}
{% from 'macros/dialog.html' import dialogtoptemplate %}
{% from 'macros/dialog.html' import dialogbottomtemplate %}
{% from 'macros/icons.html' import thermometertemplate %}
{% from 'macros/icons.html' import storagetemplate %}
{% from 'macros/icons.html' import connectivitytemplate %}

{% block bodycontext %}{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/index/update_torrentlist.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/index/startstop_alltorrents.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/index/add_torrent.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/index/rescan_tvshows.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block styling %}

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/meters.css') }}" />

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="IndexBanner" class="{{ stats.networkstatus }}"><!--

Space Meter

                {{ meteroutlinetemplate("spacemeter") }}
                {{ metermarkerstemplate("1", "", "", "10", "", "", "100", "low") }}
                {{ meterlinetemplate("spaceneedle", "#92D050", stats.space.ho, stats.space.vo, stats.space.hf, stats.space.vf) }}
                {{ storagetemplate() }}
                {{ meterendtemplate() }}

Thermometer


                {{ meteroutlinetemplate("thermometer") }}
                {{ metermarkerstemplate("25", "", "30", "", "35", "", "40", "high") }}
                {{ meterlinetemplate("tempneedle", "#DD6666", stats.temperature.ho, stats.temperature.vo, stats.temperature.hf, stats.temperature.vf) }}
                {{ thermometertemplate() }}
                {{ meterendtemplate() }}

Banner Content

     --><div class="bannerbigheading">
            <span>Download-Manager</span>
        </div><!--

Speed Meter

                {{ meteroutlinetemplate("speedmeter") }}
                {{ metermarkerstemplate("1", "", "", "k", "", "", "M", "none") }}
                {{ meterlinetemplate("downloadneedle", "#FFFF00", stats.downloadspeed.ho, stats.downloadspeed.vo, stats.downloadspeed.hf, stats.downloadspeed.vf) }}
                {{ meterlinetemplate("uploadneedle", "#6688FF", stats.uploadspeed.ho, stats.uploadspeed.vo, stats.uploadspeed.hf, stats.uploadspeed.vf) }}
                {{ connectivitytemplate() }}
                {{ meterendtemplate() }}

Count Meter

                {{ meteroutlinetemplate("countmeter") }}
                {{ meterblockstemplate(stats.downloadcount.fill, stats.downloadcount.gap, stats.downloadcount.offset, stats.activedownloads.fill, stats.activedownloads.gap, stats.activedownloads.offset, stats.uploadcount.fill, stats.uploadcount.gap, stats.uploadcount.offset, stats.activeuploads.fill, stats.activeuploads.gap, stats.activeuploads.offset) }}
                {{ connectivitytemplate() }}
                {{ meterendtemplate() }}

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

 --><div id="TorrentsList" class="tilesgroup"><!--

{% for torrent in torrentlist %}

Torrent {{ torrent.torrentid }}

     --><a id="Torrent-{{ torrent.torrentid }}" class="torrent_{{ torrent.status }}" href="javascript:loadTorrentPage('{{ torrent.torrentid }}');"><!--
FIRST ROW = Title (Configured-Title & Type)
         --><div class="tileupperrow"><!--
             --><div>
                    <span>{{ torrent.torrenttitle }}</span>
                </div><!--
             --><div>
                    <img src="{{ url_for('static', filename='images/torrenttypes/' + torrent.torrenttype + '.png') }}" alt="{{ torrent.torrenttype }}" />
                </div><!--
         --></div><!--
SECOND ROW = Horizontal-Bar
         --><div class="tilesplitter"></div><!--
THIRD ROW = Subtitle (Raw-Title & Progress/Status)
         --><div class="torrenttilelowerrow"><!--
             --><div>
                    <span>{{ torrent.torrentname }}</span>
                </div><!--
             --><div>
                    <img id="StatusIcon-{{ torrent.torrentid }}" src="{{ url_for('static', filename='images/torrentstatuses/' + torrent.status + '.png') }}" alt="{{ torrent.status }}" /><!--
                 --><span id="Progress-{{ torrent.torrentid }}">{{ torrent.progress }}</span>
                </div><!--
         --></div><!--
     --></a><!--

{% endfor %}

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

--><div class="actionbuttonsgroup"><!--

Add-Button

        {{ buttontemplate("Add", "addTorrent()", "indexactions/add_torrent", "add") }}

Stop-All-Button

        {{ buttontemplate("Stop", "performBulkAction('Stop')", "indexactions/stop_alltorrents", "stop") }}

Start-All-Button

        {{ buttontemplate("Start", "performBulkAction('Start')", "indexactions/start_alltorrents", "start") }}

Copier-Button

        {{ buttonwithoverlaytemplate("ViewCopier", "loadCopierPage()", "indexactions/copier", "copierstates/"+copyqueuestate, "view copier") }}

Rescan-File-Server-Button

        {% if refreshfolderstate == "incomplete" %}
        {{ disabledbuttontemplate("RescanFileServer", "rescanTVShows()", "indexactions/folder_refresh", "rescan fileserver") }}
        {% else %}
        {{ buttontemplate("RescanFileServer", "rescanTVShows()", "indexactions/folder_refresh", "rescan fileserver") }}
        {% endif %}

Monitor-Button

        {{ buttontemplate("ViewMonitor", "loadMonitorPage()", "indexactions/monitoring", "view monitor") }}

Logs-Button

        {{ buttontemplate("ViewLogs", "loadLogsPage()", "indexactions/information", "view logs") }}


 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

ADD-DIALOG

    {{ dialogtoptemplate("adddialog", "Adding Torrent", "CloseAdd", "cancelAdd()") }}

Dialog-Content

         --><div>
                <div class="dialogitemfull">
                    <span>New Torrent URL: </span><!--
                 --><input type="text" name="newurl" class="newurlfield" value="" />
                </div>
            </div><!--

    {{ dialogbottomtemplate("ConfirmAdd", "confirmAdd()", "dialogs/add", "Confirm Add") }}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
         <img src="{{ url_for('static', filename='images/copierstates/attention.gif') }}" />
         <img src="{{ url_for('static', filename='images/copierstates/completed.gif') }}" />
         <img src="{{ url_for('static', filename='images/copierstates/incomplete.gif') }}" />
         <img src="{{ url_for('static', filename='images/copierstates/nothing.gif') }}" />
    </div><!--

{% endblock %}
