{% extends "base.html" %}

{% block bodycontext %} class="fixed"{% endblock %}

<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/logs/logs.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block styling %}

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/logs.css') }}" />

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="AuditBanner"><!--


Banner Content

     --><div class="bannerbigheading">
            <span>Application Logs</span>
        </div><!--


 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}
 --><div class="MonitorChart"><table class="logs">
{% for logentry in loggingoutput %}

{% if (logentry.entrytype == "information") or (logentry.entrytype == "success") %}
        <tr class="hide{{ logentry.entrytype }}" id="{{ logentry.lineindex }}"><td></td>
{% elif logentry.entrytype == "invocation" %}
        <tr class="{{ logentry.entrytype }}" onclick="showHideRows({{ logentry.lineindex }})">
            <td><img id="Entry{{ logentry.lineindex }}" src="{{ url_for('static', filename='images/log/collapsed.png') }}" /></td>
{% else %}
        <tr class="{{ logentry.entrytype }}"><td></td>
{% endif %}


{% if logentry.entrytype == "other" %}
        <td class="counter">{{ logentry.lineindex }}</td>
        <td colspan="5">{% for contentline in logentry.content %}{{ contentline|safe }}</br>{% endfor %}</td>
{% elif (logentry.entrytype == "information") or (logentry.entrytype == "restart") %}
        <td class="counter">{{ logentry.lineindex }}</td>
        <td colspan="5">{{ logentry.content|safe }}</td>
{% elif logentry.entrytype == "invocation" %}
        <td class="counter">{{ logentry.lineindex }}</td>
        <td colspan="3">{{ logentry.instruction }}</td>
        <td class="torrentid"><small>{{ logentry.torrentid }}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td></td>
{% elif logentry.entrytype == "error" %}
        <td class="counter">{{ logentry.lineindex }}</td>
        <td colspan="5">{% for contentline in logentry.content %}{{ contentline|safe }}</br>{% endfor %}</td>
{% else %}
        <td class="counter">{{ logentry.lineindex }}</td>
        <td class="datetime">{{ logentry.datetime }}</td>
        <td class="ipaddress">{{ logentry.requestipaddress }}</td>
        <td class="post">{{ logentry.method }}</td>
        <td>{{ logentry.path }}</td>
        <td class="counter">{{ logentry.outcome }}</td>
{% endif %}
        </tr>
{% endfor %}
</table></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
         <img src="{{ url_for('static', filename='images/log/collapsed.png') }}" />
         <img src="{{ url_for('static', filename='images/log/expanded.png') }}" />
    </div><!--

{% endblock %}
