{% extends "base.html" %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/logs.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="IndexBanner" class="tile bannertile file_video_copy"><!--


Banner Content

     --><div class="indexbannercontent">
            <div class="titlebox indexbannertitle">
                <span>Deluge-Monitor</span>
            </div><!--
         --><div class="tilesplitter contentsplitter"></div>
        </div><!--


 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

     --><div class="">
            <svg width="200" height="200">

                <g stroke-linecap="round">
{% for logentry in monitoroutput %}
                    <rect {{ logentry }} stroke-width="0"/>
{% endfor %}

                </g>


            </svg>
        </div><!--



{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
    </div><!--

{% endblock %}
