{% extends "base.html" %}
{% from 'graphing.html' import graphblocksandbars %}
{% from 'graphing.html' import graphlines %}
{% from 'graphing.html' import graphtext %}


{% block bodycontext %} class="fixed"{% endblock %}

<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/logs.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="FixedIndexBanner" class="indexbanner_good"><!--


Banner Content

     --><div class="indexbannercontent">
            <div class="indexbannertitle">
                <span>Deluge-Monitor</span>
            </div><!--
         --><div class="contentsplitter"></div>
        </div><!--


 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

     --><div class="monitor">
            <svg width="1030" height="900">

                <style>
                    .graphtext { font: 10px 'Oswald', sans-serif; fill: #DDDDDD; font-weight: normal; }
                    .littlegraphtext { font: 6px 'Oswald', sans-serif; fill: #777777; font-weight: normal; }
                    .graphheadings { font: 12px 'Open Sans', sans-serif; fill: #FFFFFF; font-weight: normal; }
                </style>
<!-- Graph Background -->
                <g stroke-linecap="square" stroke="#000000" stroke-width="0" fill="#333333">
                    <rect height="1200" width="2000" x="-50" y="-50"/>
                </g>
<!-- Bright Red -->
                {{ graphblocksandbars(monitoroutput.brightred, "#FF0000") }}
<!-- Red -->
                {{ graphblocksandbars(monitoroutput.red, "#CC0000") }}
<!-- Orange -->
                {{ graphblocksandbars(monitoroutput.orange, "#FF6600") }}
<!-- Amber -->
                {{ graphblocksandbars(monitoroutput.amber, "#FFBB11") }}
<!-- Yellow -->
                {{ graphblocksandbars(monitoroutput.yellow, "#EEEE11") }}
<!-- Green -->
                {{ graphblocksandbars(monitoroutput.green, "#00CC00") }}
<!-- Light Blue -->
                {{ graphblocksandbars(monitoroutput.blue, "#6688FF") }}
<!-- Axes Lines-->
                {{ graphlines(monitoroutput.axeslines, "#DDDDDD") }}
<!-- Axes Labels -->
                {{ graphtext(monitoroutput.biglabels, "graphtext", "middle") }}
                {{ graphtext(monitoroutput.littlelabels, "littlegraphtext", "middle") }}
<!-- Chart Headings -->
                <text text-anchor="start" class="graphheadings" x="15" y="19">Latest Tracker Statuses</text>
                <text text-anchor="start" class="graphheadings" x="15" y="189">Latest Upload Rates</text>
                <text text-anchor="start" class="graphheadings" x="15" y="377">Recent Tracker Statuses</text>
                <text text-anchor="start" class="graphheadings" x="15" y="547">Recent Upload Rates</text>

            </svg>
        </div><!--



{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
    </div><!--

{% endblock %}
