{% extends "base.html" %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/logs.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="IndexBanner" class="tile bannertile file_video_copy"><!--


Banner Content

     --><div class="indexbannercontent">
            <div class="titlebox indexbannertitle">
                <span>Deluge-Monitor</span>
            </div><!--
         --><div class="tilesplitter contentsplitter"></div>
        </div><!--


 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

     --><div class="">
            <svg width="1030" height="400">

                <g stroke-linecap="square" stroke="#000000" stroke-width="0">
                    <rect height="400" width="1030" x="0" y="0" fill="#333333"/>
{% for logentry in monitoroutput.boxes %}
                    <rect {{ logentry|safe }} />
{% endfor %}
                </g>
                <g stroke-linecap="round" stroke="#DDDDDD" stroke-width="1">
                    <line x1="3" y1="99" x2="5" y2="99" />
                    <line x1="3" y1="69" x2="5" y2="69" />
                    <line x1="3" y1="39" x2="5" y2="39" />
                    <line x1="3" y1="9" x2="5" y2="9" />

                    <line x1="3" y1="130" x2="1027" y2="130" />
                    <line x1="5" y1="130" x2="5" y2="5" />

{% for logentry in monitoroutput.markers %}
                    <line {{ logentry|safe }} />
{% endfor %}
{% for logentry in monitoroutput.labels %}
                    <text class="metertext" text-anchor="middle" {{ logentry|safe }}</text>
{% endfor %}
                </g>

            </svg>
        </div><!--



{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

 --><div class="hidden">
    </div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
    </div><!--

{% endblock %}
