{% extends "base.html" %}
{% from 'macros/button.html' import buttontemplate %}
{% from 'macros/button.html' import disabledbuttontemplate %}
{% from 'macros/button.html' import disabledbuttonwithoverlaytemplate %}
{% from 'macros/button.html' import itembuttontemplate %}
{% from 'macros/dialog.html' import dialogtoptemplate %}
{% from 'macros/dialog.html' import dialogbottomtemplate %}

{% block bodycontext %} id="Page" class="readview"{% endblock %}

<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="{{ url_for('static', filename='javascript/torrent/action_buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/change_tvshow.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/change_torrenttype.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/change_fileoutcome.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/config_save.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/config_edit.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/config_cancel.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/update_torrentinfo.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/copy_torrent.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/delete_torrent.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/torrent/startstop_torrent.js') }}"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block styling %}

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/editing.css') }}" />

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="TorrentBanner" class="torrent_{{ selectedtorrent.status }}"><!--

Section: Configured-Title & Type Read-Only-View

     --><div class="bannerupperrow"><!--
          --><div>
                <span id="TorrentTitle">{{ selectedtorrent.torrenttitle }}</span>
            </div><!--
         --><div>
                <img id="TorrentType" src="{{ url_for('static', filename='images/torrenttypes/' + selectedtorrent.torrenttype + '.png') }}" alt="{{ selectedtorrent.torrenttype }}" />
            </div><!--
     --></div><!--

Section: Configured-Title & Type Edit-Mode-View

     --><div class="editupperrow"><!--

Subsection: Type-Selector-Buttons

         --><div class="buttongroup"><!--

                {{ buttontemplate("MakeUnknown", "changeTorrentType('unknown')", "torrenttypes/unknown", "unknown") }}

                {{ buttontemplate("MakeMovie", "changeTorrentType('movie')", "torrenttypes/movie", "movie") }}

                {{ buttontemplate("MakeTVShow", "changeTorrentType('tvshow')", "torrenttypes/tvshow", "tv show") }}

         --></div><!--

Subsection: Unknown-Type-Fields

         --><div class="unknownonlyfields">
                <span class="fieldlabel">New Unspecified Torrent</span>
            </div><!--

Subsection: TV-Show-Type-Fields

         --><div class="tvshowonlyfields"><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">TV Show:</span><!--
             --><select class="tvshownamefield" name="tvshowselector" onchange="javascript:updateTVShowSeasons('');"></select><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">Season:</span><!--
             --><select class="tvshowseasonfield" name="tvshowseasonselector"></select><!--
         --></div><!--

Subsection: Movie-Type-Fields

         --><div class="movieonlyfields"><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">Film:</span><!--
             --><input type="text" name="moviename" value="" class="movienamefield" /><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">Year:</span><!--
             --><input type="text" name="movieyear" value="" class="movieyearfield" /><!--
         --></div><!--


     --></div><!--

Section: Horizontal-Line

     --><div class="tilesplitter"></div><!--

Section: Raw-Title, Progress and Status

     --><div class="bannerlowerrow"><!--
         --><div>
                <span>{{ selectedtorrent.torrentname }}</span>
            </div><!--
         --><div><!--
             --><img id="Status" src="{{ url_for('static', filename='images/torrentstatuses/' + selectedtorrent.status + '.png') }}" alt="{{ selectedtorrent.status }}" /><!--
             --><span id="Progress">{{ selectedtorrent.progress }}</span><!--
         --></div><!--
     --></div><!--
 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

 --><div class="tilesgroup"><!--

{% for fileitem in selectedtorrent.files %}

File {{ fileitem.filetitle }}

     --><div id="File-{{ fileitem.fileid }}" class="file_{{ fileitem.filetype }}_{{ fileitem.outcome }}"><!--

Section: Configured-Filename & Type Read-Only-View
         --><div class="tileupperrow"><!--
             --><div>
                    <span id="filetitle-{{ fileitem.fileid }}">{{ fileitem.filetitle }}</span>
                </div><!--
             --><div>
                    <img id="outcome-{{ fileitem.fileid }}" class="outeredgeimage" src="{{ url_for('static', filename='images/fileactions/' + fileitem.outcome + '.png') }}" alt="{{ fileitem.outcome }}" />
                </div><!--
         --></div><!--

Section: Configured-Filename & Type Edit-Mode-View

         --><div class="editupperrow"><!--

{% if fileitem.filetype == "none" %}

Section-Mode: Unusable-Filetype; Torrent Type Irrelevent

             --><div class="contenttitlefull buttongroupequivalent">
                    <span>Ignored File</span>
                </div><!--

{% else %}

Section-Mode: Usable-Filetype; Unknown Torrent Type

             --><div class="unknownonlyfields"><!--

                 --><div class="contenttitlefull buttongroupequivalent">
                        <span>Do Not Save</span>
                    </div><!--

             --></div><!--

Section-Mode: Usable-Filetype; Known Torrent Type

             --><div class="movieonlyfields tvshowonlyfields"><!--

Subsection: FileMode-Selector-Buttons

                 --><div class="buttongroup"><!--

                        {{ itembuttontemplate("MakeIgnore", fileitem.fileid, "changeFileDesignation", "ignore", "fileactions/ignore", "ignore") }}

                        {{ itembuttontemplate("MakeCopy", fileitem.fileid, "changeFileDesignation", "copy", "fileactions/copy", "copy") }}

                 --></div><!--

Subsection: Dont-Copy-Filemode

                 --><div class="ignoreonlyfields" id="ignoreconfig-{{ fileitem.fileid }}">
                        <span class="fieldlabel">Do Not Save</span>
                    </div><!--

Subsection: Do-Copy-Filemode

                 --><div class="copyonlyfields" id="copyconfig-{{ fileitem.fileid }}"><!--

                     --><div class="movieonlyfields">
                            <span class="fieldlabel">Save As Film</span>
                        </div><!--

                     --><div class="tvshowonlyfields">
                            <span class="fieldlabel">Save As:</span><!--
                         --><select name="episodeselector-{{ fileitem.fileid }}" class="fileepisode"></select>
                        </div><!--

{% if fileitem.filetype == "subtitle" %}

                     --><div class="tvshowonlyfields movieonlyfields">
                            <span class="fieldlabel">Subtitle:</span><!--
                         --><select name="subtitleselector-{{ fileitem.fileid }}" class="filesubtitle"></select>
                        </div><!--

{% endif %}

                 --></div><!--
             --></div><!--

{% endif %}

         --></div><!--

Section: Horizontal-Line
§
         --><div class="tilesplitter">
            </div><!--

Section: Raw-Filename, File-Type & File-Size
         --><div class="filetilelowerrow"><!--
              --><div>
                    <span>{{ fileitem.filename }}</span>
                </div><!--
             --><div>
                    <img id="filetype-{{ fileitem.fileid }}" src="{{ url_for('static', filename='images/filetypes/' + fileitem.filetype + '.png') }}" alt="{{ fileitem.filetype }}" /><!--
                 --><span>{{ fileitem.size }}</span>
                </div><!--
         --></div><!--
     --></div><!--

{% endfor %}

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="actionbuttonsgroup"><!--

Section: Read-Only-Mode Action Buttons

     --><div><!--

            {{ buttontemplate("Exit", "window.location.replace('/')", "home", "exit") }}

            {{ buttontemplate("Stop", "performTorrentAction('Stop')", "torrentactions/stop_torrent", "stop") }}

            {{ buttontemplate("Start", "performTorrentAction('Start')", "torrentactions/start_torrent", "start") }}

            {{ disabledbuttontemplate("Edit", "editTorrentConfiguration()", "torrentactions/edit_torrent", "edit") }}

            {{ disabledbuttonwithoverlaytemplate("Copy", "copyTorrent()", "torrentactions/copy_torrent", "copierstates/"+copyqueuestate, "copy") }}

            {{ buttontemplate("Delete", "deleteTorrent()", "torrentactions/delete_torrent", "delete") }}

     --></div><!--

Section: Edit-Mode Action Buttons

     --><div><!--

            {{ buttontemplate("Cancel", "cancelTorrentConfiguration()", "torrentactions/cancel_edit", "cancel") }}

            {{ buttontemplate("Save", "saveTorrentConfiguration()", "torrentactions/commit_edit", "commit") }}

     --></div><!--

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

COPY-DIALOG

    {{ dialogtoptemplate("copydialog", "Copying Files", "CloseCopy", "closeCopyDialog()") }}

Dialog-Content

         --><div id="dialogcontent"><!--
                {% for copyitem in selectedtorrent.copyinfo %}
             --><div class="dialogitemmax">{{ copyitem }}</div><!--
                {% endfor %}
         --></div><!--

    {{ dialogbottomtemplate("ConfirmCopy", "confirmCopy()", "dialogs/copy", "Confirm Copy") }}



DELETE-DIALOG

    {{ dialogtoptemplate("deletedialog", "Deleting Torrent", "CloseDelete", "cancelDelete()") }}

Dialog-Content

         --><div>
                <div class="dialogitemfull"><span>Do you want to delete this torrent and all its files?</span></div>
            </div><!--

    {{ dialogbottomtemplate("ConfirmDelete", "confirmDelete()", "dialogs/delete", "Confirm Delete") }}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
         <img src="{{ url_for('static', filename='images/copierstates/attention.gif') }}" />
         <img src="{{ url_for('static', filename='images/copierstates/completed.gif') }}" />
         <img src="{{ url_for('static', filename='images/copierstates/incomplete.gif') }}" />
         <img src="{{ url_for('static', filename='images/copierstates/nothing.gif') }}" />
    </div><!--

{% endblock %}
