body.readview div.tileupperrow, body.editview div.editupperrow {
    display: inline-block;
}

body.editview div.tileupperrow, body.readview div.editupperrow {
    display: none;
}


\* ====================================================================== *\


body.readview div.filetilelowerrow > div:first-of-type  {
}

body.editview div.filetilelowerrow > div:first-of-type {
    overflow-wrap: break-word;
    white-space: normal;
    height: 32px;
}


\* ====================================================================== *\


body.readview div.actionbuttonsgroup > div:first-of-type  {
    display: inline-block;
}

body.editview div.actionbuttonsgroup > div:first-of-type {
    display: none;
}

body.readview div.actionbuttonsgroup > div:last-of-type  {
    display: none;
}

body.editview div.actionbuttonsgroup > div:last-of-type {
    display: inline-block;
}

