/* =================================================== */
/* Generic Button                                      */
/* =================================================== */

button {
    font-family: 'Open Sans', sans-serif;
    background-color: #660000;
    border: 0px solid #FFFFFF;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    overflow: hidden;
}

button:disabled {
    cursor: default;
}


/* =================================================== */
/* Button in buttongroup                               */
/* =================================================== */

div.buttongroup {
    border: 0px solid #000000;
    background-color: #000000;
    margin: 0;
    padding: 0px 0px 0px 1px;
    display: inline-block;
    overflow: hidden;
}

.buttongroup button {
    width: 28px;
    height: 28px;
    background-color: #999999;
    margin: 1px 1px 1px 0px;
    box-shadow: none;
}

.buttongroup button > img {
    width: 24px;
    height: 24px;
    margin: auto;
}

div.buttongroup button:disabled > img {
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}


/* =================================================== */
/* Button in actiongroup                               */
/* =================================================== */

div.actionbuttonsgroup {
    box-shadow: none;
    width: 64px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    /* Sticky Positioning */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
}

.actionbuttonsgroup > div {
    padding: 0;
    margin: 0;
}

.actionbuttonsgroup button {
    width: 50px;
    height: 50px;
    background-color: #999999;
    margin: 7px 0px 7px 5px;
    box-shadow: 3px 3px 2px #AAAAAA;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.actionbuttonsgroup button:hover:enabled {
    background-color: #777777;
}

.actionbuttonsgroup button > img:first-of-type {
    width: 36px;
    height: 36px;
    margin: auto;
    display: inline-block;
}

.actionbuttonsgroup button:disabled > img:first-of-type {
    -webkit-filter: brightness(3) saturate(9);
    filter: brightness(3) saturate(9);
}

.actionbuttonsgroup button > img:nth-of-type(2) {
    width: 15px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 3px;
    bottom: 3px;
}




/* =================================================== */
/* Button in dialog                                    */
/* =================================================== */

.dialog > div:nth-of-type(1) button {
    width: 15px;
    height: 15px;
    background-color: #FFFFCC;
    position: absolute;
    top: 0px;
    right: 2px;
}

.dialog > div:nth-of-type(1) button > img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dialog > div:nth-of-type(1) button:disabled > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dialog > div:nth-of-type(4) button {
    width: 22px;
    height: 22px;
    background-color: #FFFFCC;
    border: 1px solid #000033;
    padding: 2px;
    margin: 10px 0px 0px 0px;
}

.dialog > div:nth-of-type(4) button:disabled {
    border: 1px solid #FFFFFF;
}

.dialog > div:nth-of-type(4) button > img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dialog > div:nth-of-type(4) button:disabled > img {
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}

