div.dialog {
    margin: 100px auto;
    padding: 7px 10px;
    width: 500px;
    /*height: 280px;*/
    background-color: #FFFFCC;
    overflow: hidden;
    border-style: none;
    vertical-align: top;
    color: #000033;
    box-shadow: 0px 0px 3px 3px #333366;
    outline: 0;
}

/* Dialog Content */
.dialog > div:nth-of-type(3) {
    margin: 0;
    padding: 0;
    font-size: 90%;

}

/* Dialog Actions at the bottom */
.dialog > div:nth-of-type(4) {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Dialog Separator Line */
.dialog > div:nth-of-type(2) {
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #000033;
    margin: 0px auto 5px auto;
    padding: 0;
    width: 490px;
}

/* Dialog Title */
.dialog > div:nth-of-type(1) {
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2px 3px 6px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}

div.dialogitemleft, div.dialogitemright, div.dialogitemfull, div.dialogitemmax {
    padding: 5px 4px 4px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    /*border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF;*/
}

div.wraptext {
    white-space: normal !important;
    line-height: normal !important;
}


div.dialogitemleft {
    width: 396px;
    text-align: left;
    /*background-color: #aaffff;*/
}

div.dialogitemright {
    width: 88px;
    text-align: right;
    /*background-color: #ffaaff;*/
}

div.dialogitemfull {
    width: 100%;
    text-align: center;
    /*background-color: #ffffaa;*/
}

div.dialogitemmax {
    width: 100%;
    text-align: left;
    /*background-color: #ffffaa;*/
}

.dialog img {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: -2px 0px -4px 4px;
}

/* ------------------------------------------------ */

table.copierresultstable {
  margin: 10px 0px 10px 0px;
}

table.copierresultstable td {
  text-align: center;
  font-size: 90%;
  width: 30%;
  border-left: 1px #000000 solid;
  padding: 0px 10px 0px 10px;
}

table.copierresultstable tr td:first-of-type, table.copierresultstable tr td:last-of-type {
  width: auto;
}

table.copierresultstable tr td:first-of-type {
  border-left: none;
}

table.copierresultstable tr:first-of-type td {
  padding-top: 8px;
}

table.copierresultstable tr:nth-of-type(n+2) td {
  padding-bottom: 10px;
}

table.copierresultstable tr:nth-of-type(2) td {
  font-size: 60%;
}

