body.readview div.tileupperrow, body.readview div.bannerupperrow, body.editview div.editupperrow {
    display: inline-block;
}

body.editview div.tileupperrow, body.editview div.bannerupperrow, body.readview div.editupperrow {
    display: none;
}


\* ====================================================================== *\


body.readview div.filetilelowerrow > div:first-of-type  {
}

body.editview div.filetilelowerrow > div:first-of-type {
    overflow-wrap: break-word;
    white-space: normal;
    height: 32px;
}


\* ====================================================================== *\


body.readview div.actionbuttonsgroup > div:first-of-type, body.editview div.actionbuttonsgroup > div:last-of-type {
    display: inline-block;
    color: #FF0000;
    background-color: #FFFF00;
}

body.editview div.actionbuttonsgroup > div:first-of-type, body.readview div.actionbuttonsgroup > div:last-of-type {
    display: none;
}


\* ====================================================================== *\


div.tvshowonlyfields, div.movieonlyfields, div.unknownonlyfields {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

div.ignoreonlyfields, div.copyonlyfields {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}


div.narrowspacer {
    width: 100%;
    height: 5px;
    /*background-color: #ff0000;*/
    display: inline-block;
}
@media screen and (min-width: 1070px) {
    div.narrowspacer {
        display: none;
    }
}
