table {
  border-collapse: collapse;
  width: 100%;
  margin: 0px;
  padding: 0px !important;
}

td {
  padding: 4px;
  text-align: left;
  vertical-align: top;
}

table.copier, table.logs {
  width: 480px;
  color: #FFFFFF;
  background-color: #00FFFF;
}

@media screen and (min-width: 1070px) {
    table.copier, table.logs {
        width: 960px;
    }
}


