/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

.tilesgroup > a, .tilesgroup > div {
    width: 460px;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

.tileupperrow > div:first-of-type {
    width: 427px;
    text-align: left;
    float: left;
}

.tileupperrow > div:last-of-type {
    width: 20px;
    text-align: right;
    float: right;
}

div.contenttitlefull {
    width: 454px;
    text-align: left;
}


/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

div.contentsplitter {
    width: 452px;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

.torrenttilelowerrow > div:first-of-type {
    width: 387px;
    text-align: left;
    float: left;
}

.torrenttilelowerrow > div:last-of-type {
    width: 56px;
    text-align: right;
    float: right;
}

div.contentsubtitlefull {
    width: 452px;
    text-align: left;
}

.filetilelowerrow > div:first-of-type {
    width: 353px;
    text-align: left;
    float: left;
}

.filetilelowerrow > div:last-of-type {
    width: 90px;
    text-align: right;
    float: right;
}
