/* ===============================================================================
   TILE GROUP
   =============================================================================== */

div.tilesgroup {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    width: 496px;
    vertical-align: top;
}

@media screen and (min-width: 1070px) {
    div.tilesgroup{
        width: 990px;
    }
}


/* ===============================================================================
   Generic Tile object, covers banner tiles and torrent & file tiles
   =============================================================================== */

div.indexbannertile, div.torrentbannertile, div.auditbannertile, .tilesgroup > div, .tilesgroup > a, div.monitorchart {
    display: inline-block;
    overflow: hidden;
    margin: 7px;
    padding: 7px 10px;
    color: #FFFFFF;
    border-style: none;
    box-shadow: 3px 3px 2px #AAAAAA;
    outline: 0;
}


/* ===============================================================================
   CLICKABLE TILE BEHAVOUR
   =============================================================================== */

.tilesgroup > a, {
    text-decoration: none;
}

.tilesgroup > a:hover {
    background-color: #222222;
}

/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

/* Title Boxes */
.tileupperrow > div, div.bannertitleleft, div.bannertitleright, div.bannertitlefull, div.contenttitlefull {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 2px 3px 6px 3px;
}

/* Title Box Images */
.tileupperrow > div > img, .bannertitleleft img, .bannertitleright img, .bannertitlefull img, .contenttitlefull img {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: -2px 0px -2px 0px;
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}

/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

/* Separator Bars */
div.contentsplitter, div.bannersplitter {
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

/* Subtitle Boxes */
.filetilelowerrow > div, .torrenttilelowerrow > div, div.bannersubtitleleft, div.bannersubtitleright, div.filesubtitleleft, div.filesubtitleright {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 75%;
    padding: 5px 4px 4px 4px;
}

/* Subtitle Box Images */
.filetilelowerrow > div > img, .torrenttilelowerrow > div > img, .bannersubtitleleft img, .bannersubtitleright img, .filesubtitleleft img, .filesubtitleright img {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: -2px 5px -2px 5px;
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}


/* ========================================================== */

div.multilinemode {
    background-color: #FF0000 !important;
    overflow-wrap: break-word;
}

div.titlerow, div.subtitlerow {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}