/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

#IndexBanner, #TorrentBanner {
    position: relative;
}

#IndexBanner, #TorrentBanner {
    width: 524px;
}

@media screen and (min-width: 1070px) {
    #IndexBanner, #TorrentBanner  {
        width: 1018px;
    }
}

#IndexBanner {
    height: 144px;
}

@media screen and (min-width: 1070px) {
    #IndexBanner {
        height: 72px;
    }
}

div.auditbannertile {
    width: 1018px;
    height: 72px;
}

/* ===============================================================================
   INDEX/MONITOR/LOG BIG BANNER HEADING
   =============================================================================== */

div.oldbannerbigheading {
    height: 68px;
    display: inline-block;
    text-align: center;
    font-size: 28pt;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    line-height: 40px;
}

@media screen and (min-width: 1070px) {
    div.oldbannerbigheading {
        left: 260px;
        right: 260px;
    }
}

.bannerbigheading {
    display: inline-block;
    text-align: center;
    font-size: 28pt;
    line-height: 175%;
    width: 500px;
}

/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

.bannerupperrow > div:first-of-type {
    width: 492px;
    text-align: left;
    float: left;
}

@media screen and (min-width: 1070px) {
    .bannerupperrow > div:first-of-type {
        width: 986px;
    }
}

.bannerupperrow > div:last-of-type {
    width: 20px;
    text-align: right;
    float: right;
}

/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

.bannerlowerrow > div:first-of-type {
    width: 516px;
    text-align: left;
    float: left;
}

@media screen and (min-width: 1070px) {
    .bannerlowerrow > div:first-of-type {
        width: 822px;
    }
}

.bannerlowerrow > div:last-of-type {
    width: 516px;
    text-align: right;
    float: right;
}

@media screen and (min-width: 1070px) {
    .bannerlowerrow > div:last-of-type {
        width: 180px;
    }
}

@media screen and (max-width: 1069px) {
    .bannerlowerrow > div:last-of-type {
        padding-top: 0px;
    }
}



/* ===============================================================================
   MONITOR GRAPH PLACEHOLDER
   =============================================================================== */

div.monitorchart {
    height: auto;
    width: 1038px;
    padding: 0px;
}
